SECRET_KEY = '45b99b19b1e840b79bff2d3227d3915d'
SECURITY_TOKEN_AUTHENTICATION_HEADER = 'Authorization'
SECURITY_PASSWORD_SALT = 'asasdasd'
JWT_SECRET_KEY= '45b99b19b1e840b79bff2d3227d3915d'

AUTH_REDIS_HOST=redis_test
AUTH_REDIS_PORT=6380

AUTH_POSTGRES_HOST=postgres_test
AUTH_POSTGRES_PORT=5433
AUTH_POSTGRES_USER=app
AUTH_POSTGRES_PASSWORD=123qwe
AUTH_POSTGRES_DB=users_database

FLASK_HOST=0.0.0.0
FLASK_PORT=5000
FLASK_URL=http://flask_auth_test:5000
FLASK_WORKERS=1

FLASK_ADMIN_MAIL=123@qwe.com
FLASK_ADMIN_PASS=123qwe

TRACER_ENABLED=True
CONSOLE_TRACING_ENABLED=False
TRACER_HOST=jaeger
TRACER_PORT=6831

DEFAULT_RATE_LIMIT=10
DEFAULT_RATE_PENALTY=60
MAX_RATE_PENALTY=1800

YANDEX_ID=24378b79b51549d385640fc52a50aeb6
YANDEX_SECRET=52188f5496fe405390589a9883802b8f
VK_ID=51573011
VK_SECRET=eRuDpLClzVBXkViO9CMC

HOST_FAST_API=http://fastapi