ES_TEST_URL=http://elastic_test:9200
ES_URL=http://localhost:9200
ES_DOCKER_URL=http://elastic_test:9200
ELASTIC_HOST=elastic_test
ELASTIC_PORT=9200

REDIS_HOST=redis_test
REDIS_PORT=6379

PROJECT_NAME=movies_api
FASTAPI_URL=http://fastapi_test:80
FASTAPI_HOST=0.0.0.0
FASTAPI_PORT=80
FASTAPI_WORKERS=4

TRACER_ENABLED=True
CONSOLE_TRACING_ENABLED=False
TRACER_HOST=jaeger
TRACER_PORT=6831